body {
    font-family: Arial, sans-serif;
    font-size: 10pt;
    background-color: #ccc;
}

fieldset {
    display: inline;
    border: 1px solid #333;
    margin: 8px;
    padding: 4px;
    background-color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

legend {
    padding: 0.2em 0.5em;
    border: 1px solid #333;
    color: #333;
    background: white;
    font-size: 90%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

button {
    font-size: 8pt;
    background-color: white;
    border-width: 0px;
    vertical-align: middle;
}

.spinner {
    width: 50px;
    height: 60px;
}

.toggler, .selector {
    background-color: #ddd;
}

.toggler {
    width: 60px;
    height: 16px;
}

.selector {
    width: 100px;
    height: 16px;
}

.adsr {
    float: right;
}

.adsr-graph {
    border: 1px solid #333;
    width: 207px;
    height: 57px;
}

fieldset.with-adsr {
    width: 940px;
}

fieldset.lfo {
    position: relative;
    height: 90px;
    width: 220px;
}

fieldset.lfo button {
    position: absolute;
}

button.lfo-freq {
    top: 30px;
    left: 8px;
}

button.lfo-shape {
    top: 30px;
    left: 65px;
}

button.lfo-sync {
    top: 50px;
    left: 65px;
}

button.lfo-dest {
    top: 70px;
    left: 65px;
}

button.lfo-amt {
    top: 30px;
    left: 172px;
}

fieldset.mod-selector {
    position: relative;
    width: 220px;
    height: 90px;
}

fieldset.mod-selector button {
    position: absolute;
}

button.ms-source {
    top: 30px;
    left: 16px;
}

button.ms-dest {
    top: 65px;
    left: 16px;
}

button.ms-amount {
    top: 30px;
    left: 120px;
}

fieldset.midi-mod-selector {
    width: 170px;
}

fieldset.seq-steps button {
    width: 50px;
}

fieldset.seq-steps .spinner {
    height: 45px;
}

fieldset.seq-steps .seq-dest {
    width: 120px;
}

/* menu stuff */

div.page {
    display: none;
}

div.page div.title {
    display: none;
}

#menu {
    padding: 8px;
}

#menu button {
    border: 1px solid #333;
    font-size: 1.2em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin-right: 8px;
}

button.active {
    background-color: orange;
}

/* status box */

#status-container {
    position: absolute;
    width: 250px;
    height: 100px;
    left: 756px;
    top: 10px;
    z-index: 100;
}

#status-container > div {
    position: relative;
    float: right;
    border: 1px solid #333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: white;
    padding: 8px;
}

#status {
    padding-bottom: 4px;
}

/* preset management */

#load-preset {
    position: relative;
    width: 428px;
    height: 287px;
}

#load-preset #preset-selector {
    position: absolute;
    top: 26px;
    left: 16em;
    width: 16em;
}

#load-preset #filter-labels {
    position: absolute;
    border: 1px solid #333;
    background-color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    top: 28px;
    left: 8px;
    width: 190px;
    height: 255px;
    vertical-align: top;
}

#load-preset #filter-labels button {
    border: 1px solid #333;
    margin: 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

#unison {
    position: relative;
    height: 90px;
    width: 208px;
}

#unison button {
    position: absolute;
    left: 8px;
}

#unison #unison-on-off {
    top: 28px;
}
#unison #unison-assign {
    top: 50px;
    width: 200px;
}
#unison #unison-mode {
    top: 72px;
    width: 200px;
}

#push-it {
    position: relative;
    height: 90px;
    width: 180px;
}
#push-it button {
    position: absolute;
    top: 28px;
}
#push-it-mode {
    left: 8px;
    width: 60px;
}
#push-it-note {
    left: 78px;
}
#push-it-vel {
    left: 126px;
}

#keyboard {
    position: relative;
    height: 90px;
    width: 140px;
}
#keyboard button {
    position: absolute;
    top: 28px;
}
#kbd-mode {
    left: 8px;
    width: 60px;
}
#kbd-split-point {
    left: 86px;
}